<form action="/action_page.php">
    <h1>Registeration Form</h1>
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="Username" name="usrnm">
    </div>
  <br>
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="text" placeholder="Email" name="email">
    </div>
  <br>
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Password" name="psw">
    </div>
  <br>
    <button type="submit" class="btn">Register </button>
    <input type="reset">
  </form>